.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #000;
}

.columns {
  margin-left: 0px;
  padding-top: 20px;
  padding-left: 20px;
}

.image {
  position: static;
  max-width: 100%;
  margin-top: 40px;
  margin-right: 60px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  padding-right: 40px;
}

.image-2 {
  margin-top: 10px;
  margin-left: 60px;
}

.columns-2 {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-3 {
  display: inline-block;
  border-radius: 0px;
}

.columns-3 {
  margin-top: 30px;
  margin-right: 60px;
  margin-left: 60px;
}

.text-span {
  margin-top: 10px;
  font-family: DotGothic16, sans-serif;
  color: #0f0;
  font-weight: 300;
}

.text-block {
  margin-top: 30px;
}

.text-span2 {
  margin-top: 10px;
  font-family: DotGothic16, sans-serif;
  color: #0f0;
}

.text-span3 {
  margin-top: 30px;
  font-family: DotGothic16, sans-serif;
  color: #0f0;
}

.link {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: #0f0;
}

.section {
  margin-top: 100px;
}

.text-block-2 {
  margin-left: 0px;
  padding-left: 10px;
  font-family: DotGothic16, sans-serif;
  color: #0f0;
  font-size: 20px;
}

.column {
  display: block;
  grid-auto-columns: 1fr;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.columns-4 {
  margin-right: 140px;
  margin-left: 140px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.paragraph {
  direction: ltr;
  font-family: DotGothic16, sans-serif;
  color: #0f0;
  line-height: 20px;
  font-weight: 400;
  text-indent: 0px;
  text-transform: none;
}

.paragraph-2 {
  font-family: DotGothic16, sans-serif;
  color: #0f0;
}

.grid {
  margin-top: 160px;
  margin-right: 140px;
  margin-left: 140px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-3 {
  color: #0f3;
  font-size: 20px;
}

.text-block-4 {
  font-family: DotGothic16, sans-serif;
  color: #0f3;
  font-size: 20px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  background-color: #000;
}

.nav-menu {
  color: #0f3;
}

.text-span-2 {
  font-family: DotGothic16, sans-serif;
  color: #0f3;
}

.nav-link {
  font-family: DotGothic16, sans-serif;
  color: #0f3;
}

.nav-link-2 {
  font-family: DotGothic16, sans-serif;
  color: #0f3;
}

.section-2 {
  margin-top: 40px;
}

.heading {
  margin-bottom: 0px;
  font-family: DotGothic16, sans-serif;
  color: #0f3;
  font-size: 20px;
  text-align: center;
}

.container {
  margin-top: 200px;
}

.image-4 {
  text-align: left;
}

.image-5 {
  position: relative;
  left: 46%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: auto;
  clear: none;
}

.container-2 {
  display: block;
  margin-top: 30px;
  padding-right: 120px;
  padding-left: 120px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.text-block-5 {
  font-family: DotGothic16, sans-serif;
  color: #0f3;
  text-align: center;
}

.div-block-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab-link-tab-1 {
  position: fixed;
}

.tab-link-tab-1.w--current {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 220px;
  height: 220px;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.tab-link-tab-1.w--current:hover {
  background-color: #0f3;
}

.tabs-container {
  position: static;
  margin-top: 0px;
  padding-top: 0px;
}

.tabs-tang {
  position: static;
  top: auto;
  margin-top: 0px;
}

.text-block-6 {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: -20px;
  padding-left: 0px;
  border-radius: 0px;
  font-family: DotGothic16, sans-serif;
  color: transparent;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-indent: 0px;
  white-space: normal;
}

.text-block-6:hover {
  color: #000;
}

.tabs-yuan {
  position: static;
  left: 385px;
  top: auto;
  width: 220px;
  height: 220px;
}

.tabs {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tabs-jin {
  position: absolute;
  top: auto;
  width: 220px;
  height: 220px;
}

.grid-2 {
  position: absolute;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-tang {
  position: static;
}

.tab-pane-tangyu {
  top: -76px;
}

.tabs-content {
  top: -76px;
}

.link-block {
  width: 220px;
  height: 220px;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.link-block:hover {
  background-color: #0f3;
}

.div-block-4 {
  width: 220px;
}

.paragraph-3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 10px;
  padding-right: 10px;
  font-family: DotGothic16, sans-serif;
  color: transparent;
  font-size: 18px;
  line-height: 25px;
}

.paragraph-3:hover {
  color: #000;
}

.footer {
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #000;
}

.text-block-7 {
  background-color: transparent;
  font-family: 'Noto Sans JP', sans-serif;
  color: #8f8f8f;
  font-weight: 100;
  text-align: center;
}

.text-block-8 {
  margin-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #8f8f8f;
  font-weight: 100;
  text-align: center;
}

.grid-3 {
  position: static;
  display: block;
  margin-top: 10px;
  margin-right: 380px;
  margin-left: 380px;
  padding-right: 0px;
  padding-left: 60px;
  float: none;
  clear: none;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button {
  width: 30px;
  height: 20px;
  background-image: url('../images/资源-1.png');
  background-position: 50% 50%;
  background-size: 30px 20px;
  background-repeat: repeat;
}

.div-block-5 {
  width: 30px;
  height: 20px;
}

.columns-5 {
  margin-right: 370px;
  margin-left: 370px;
}

.grid-4 {
  width: 180px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  justify-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-block-2 {
  width: 20px;
  height: 15px;
  background-image: url('../images/email.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.link-block-3 {
  width: 20px;
  height: 20px;
  background-image: url('../images/ins.png');
  background-position: 100% 100%;
  background-size: cover;
}

.link-block-4 {
  width: 20px;
  height: 20px;
  background-image: url('../images/fb.png');
  background-position: 100% 100%;
  background-size: cover;
}

.body-2 {
  background-color: #020202;
}

.link-block-5 {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  margin-left: 30px;
}

.text-block-9 {
  font-family: DotGothic16, sans-serif;
  color: #0f3;
  font-size: 20px;
}

.section-3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.container-3 {
  height: 600px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3;
  background-color: transparent;
  background-clip: border-box;
}

.div-block-6 {
  display: inline-block;
  width: 500px;
  height: 400px;
  margin-top: auto;
  margin-left: auto;
}

.columns-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.feature-section {
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #0f3;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

@media screen and (max-width: 991px) {
  .image-3 {
    max-width: 50%;
  }

  .columns-3 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .text-span {
    font-size: 7px;
  }

  .text-block {
    font-size: 7px;
  }

  .text-span2 {
    font-size: 7px;
  }

  .text-span3 {
    font-size: 7px;
  }
}

@media screen and (max-width: 767px) {
  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .div-block-3 {
    display: block;
  }
}

#w-node-bdfc3577-caca-91e3-072e-7b996bdaa15e-b9b85845 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_387bfee8-d826-a74e-ef1a-e526cdea5f02-b9b85845 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-_5d66b363-358f-1cb2-1abe-26d06a208f61-b9b85845 {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f47d882f-a50a-ef7d-75bc-8aefd1b8de87-b9b85845 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d29c0d01-69eb-ae48-f43e-dc54d8224d33-b9b85845 {
  -ms-grid-column-align: start;
  justify-self: start;
}

